{% extends 'Head2Head/main.html' %}

{% block content %}
    <h1>View Drivers</h1>

    <table class="table-responsive table-striped">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Name </th>
            <th scope="col">Surname</th>
            <th scope="col">No</th>
            <th scope="col">Car</th>
            <th scope="col">Abbr</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
           
          {% load static %}

         {% for i in myDrivers %}
         <tr style="font-size: 30px;">
            
            <td><img src="{% static 'Head2Head/Drivers/' %}{{i.No}}.png" alt="My image"></td>
             <td>{{i.Name}}</td>
             <td>{{i.Surname}}</td>
             <td>{{i.No}}</td>
             <td>{{i.Car}}</td>
             <td>{{i.Abbr}}</td>
             <td>{{i.Pts}}</td>
         </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endblock %}