<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
	body {
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; }
h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(255,255,255,0.2);}

  .modal{
	  color: black;
  }

  .btn{
	  width: 50%;
	  
  }

table{
	font-size: 3px;
}

</style>
<body>

<!-- {% include 'Head2Head/messages.html' %} -->

<div class="container">
	
<div class="row">
	<div class="col">
		<button type='button' data-toggle="modal" data-target="#load"> Load New Data</button>
	</div>
	<div class="col">
		<button type='button' data-toggle="modal" data-target="#delGP"> Delete Specified Data</button>
	</div>
	</div>
<br> <br>
	
	<div class="row">
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#fast">Open Fastest Laps </button>
		</div>
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#pit">Open Pit Stops </button>

		</div>
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#prac">Open Practice </button>
		</div>
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#qualy">Open Qauly </button>

		</div>

		<div class="col">
			<button type='button' data-toggle="modal" data-target="#res"> Open Results</button>
		</div>
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#sprint"> Open SprintQauly</button>

		</div>
		<div class="col">
			<button type='button' data-toggle="modal" data-target="#start">Open Starting Grid </button>

		</div>
		</div>



		
	
</div>
</body>


<div class="modal" tabindex="-1" role="dialog" id="load" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-danger>
		  <h5 class="modal-title">Load New data</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Are you sure you want to Load New data</p>
		  <br>
		  <form action="LoadData" method="POST">
			{% csrf_token %}
			<Label for="pw">Enter Password</Label>
			<input type = "text" name="pw">
			</div>
			
			
				<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					
						<button type="submit" class="btn btn-success">Ok</button>
					
				</div>
	</form>
	  </div>
	</div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="delGP" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-danger>
		  <h5 class="modal-title">Delete Specific Race Data</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to Delete this specified data</p>
			<br>
			<form action="DelSpec" method="POST">
				{% csrf_token %}
			<Label for="gp">Select GP</Label>
			<select name="gp">
				{% for i in gplist %}
					<option value="{{ i }}"  selected = "ALL" >{{i}}</option>
				{% endfor %}
				</select>
			  <br>
				<Label for="sess">Select Session</Label>
				<select name="sess">
					{% for i in sesslist %}
						<option value="{{ i }}" selected = "ALL" >{{i}}</option>
					{% endfor %}
					</select>
					<br>

					<Label for="pw">Enter Password</Label>
			<input type = "text" name="pw">
		</div>
		<div class="modal-footer">
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			
				<button type="submit" class="btn btn-success">Ok</button>
			
		</div>
		</div>
	</form>
	  </div>
	</div>
  </div>









<div class="modal" tabindex="-1" role="dialog" id="error" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-danger>
		  <h5 class="modal-title">Error</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>You have entered the incorrrect password</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
		</div>
	  </div>
	</div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="success" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Success</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>You have entered the corrrect password</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
		</div>
	  </div>
	</div>
  </div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="modal" tabindex="-1" role="dialog" id="fast" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Fastest Laps</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Lap</th>
				<th scope="col">TOD</th>
				<th scope="col">Time</th>
				<th scope="col">AVGSpeed</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for f in fast %}
			 <tr style="font-size: 30px;">
				
				 <td>{{f.Pos}}</td>
				 <td>{{f.No}}</td>
				 <td>{{f.Driver}}</td>
				 <td>{{f.Car}}</td>
				 <td>{{f.Lap}}</td>
				 <td>{{f.TOD}}</td>
				 <td>{{f.Time}}</td>
				 <td>{{f.AVGSpeed}}</td>
				 <td>{{f.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>

 

  <div class="modal" tabindex="-1" role="dialog" id="pit" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Pitstops</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Stops</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Total</th>
				<th scope="col">Time</th>
				<th scope="col">TOD</th>
				<th scope="col">Car</th>
				<th scope="col">Lap</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in pit %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Stops}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Total}}</td>
				 <td>{{i.Time}}</td>
				 <td>{{i.TOD}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Lap}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>
  
  



  <div class="modal" tabindex="-1" role="dialog" id="prac" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Practice</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Laps</th>
				<th scope="col">Session</th>
				<th scope="col">Time</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in prac %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Pos}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Laps}}</td>
				 <td>{{i.Session}}</td>
				 <td>{{i.Time}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>



  <div class="modal" tabindex="-1" role="dialog" id="qualy" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Qualy</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Q1</th>
				<th scope="col">Q2</th>
				<th scope="col">Q3</th>
				<th scope="col">Laps</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in qualy %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Pos}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Q1}}</td>
				 <td>{{i.Q2}}</td>
				 <td>{{i.Q3}}</td>
				 <td>{{i.Laps}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="res" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Result</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Laps</th>
				<th scope="col">Time</th>
				<th scope="col">Pts</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in res %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Pos}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Laps}}</td>
				 <td>{{i.Time}}</td>
				 <td>{{i.Pts}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="sprint" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Sprint</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Laps</th>
				<th scope="col">Time</th>
				<th scope="col">Pts</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in sprint %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Pos}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Laps}}</td>
				 <td>{{i.Time}}</td>
				 <td>{{i.Pts}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="start" >
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" alert alert-success>
		  <h5 class="modal-title">Staring Grid</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th scope="col">Pos</th>
				<th scope="col">No </th>
				<th scope="col">Driver</th>
				<th scope="col">Car</th>
				<th scope="col">Time</th>
				<th scope="col">GP</th>
			  </tr>
			</thead>
			<tbody>
			   
			  {% load static %}
	  
			 {% for i in start %}
			 <tr style="font-size: 30px;">
				
				 <td>{{i.Pos}}</td>
				 <td>{{i.No}}</td>
				 <td>{{i.Driver}}</td>
				 <td>{{i.Car}}</td>
				 <td>{{i.Time}}</td>
				 <td>{{i.GP}}</td>
			 </tr>
				{% endfor %}
			</tbody>
		  </table>
	  </div>
	</div>
  </div>


<script type="text/javascript">
	var data = "{{data}}"
	console.log(data)
	if ((data == "True") || (data == "False"))
	{

	if (data == "True")
	{
		$('#success').modal('show')
	}
	else{
		$('#error').modal('show')
	}
}
</script>