{% extends 'Head2Head/main.html' %}

{% block content %}

<style>


    .Car{
width: 320px;
    }
    
</style>
<div style="text-align: center;">
    <h1>
        Compare Teams<br>
    
    </h1>
    <form action="" method="GET">
        <select name="team1">
            {% for i in myTeams %}
                <option  value="{{i}}" {% if i == stats.t1 %}selected{% endif %} >{{i}}</option>
            {% endfor %}
            </select>
          
            <select name="team2">
                {% for i in myTeams %}
                    <option value="{{i}}" {% if i == stats.t2 %}selected{% endif %} >{{i}}</option>
                {% endfor %}
                </select>
    
                <button type="submit" class="btn btn-primary">GO</button>
            </form>
</div>

<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Qualy Statistics</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
        <div style="text-align: center;">
            
                
        
                {% load static %}
                
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"> <img class="Car" src="{% static 'Head2Head/Teams/' %}{{stats.t1}}.png" alt="My image"><br> {{stats.t1}}
                        </th>
                        <th scope="col"><img style="height: 300px;" src="{% static 'Head2Head/Drivers/vs.png' %}" alt="My image"> </th>
                        <th scope="col" ><img class="Car" src="{% static 'Head2Head/Teams/' %}{{stats.t2}}.png" alt="My image"> <br>{{stats.t2}}</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                        <tr style="font-size: 30px;">
                        <td>{{stats.d1pole}}</td>
                         <td>Number of Poles</td>
                         <td>{{stats.d2pole}}</td>
                     </tr>
        
                     <tr style="font-size: 30px;">
                        <td>{{stats.d1best}}</td>
                         <td>Best Qualifying Position</td>
                         <td>{{stats.d2best}}</td>
                     </tr>
        
                     <tr style="font-size: 30px;">
                        <td>{{stats.d1worst}}</td>
                         <td>Worst Qualifying Position</td>
                         <td>{{stats.d2worst}}</td>
                     </tr>
        
                     <tr style="font-size: 30px;">
                        <td>{{stats.d1avg}}</td>
                         <td>Average Qualifying Position</td>
                         <td>{{stats.d2avg}}</td>
                     </tr>
        
                     <tr style="font-size: 30px;">
                        <td>{{stats.d1q3}}</td>
                         <td>Q3 Appearances</td>
                         <td>{{stats.d2q3}}</td>
                     </tr>
        
                     <tr style="font-size: 30px;">
                        <td>{{stats.d1q2}}</td>
                         <td>Q2 Appearances</td>
                         <td>{{stats.d2q2}}</td>
                     </tr>
                     <tr style="font-size: 30px;">
        
                         <td colspan="3" >Average Qualifying Gap
                             <br> <strong style="font-size: 15px; font-weight: bold;">If negative driver on left is ahead</strong>
                         </td>
        
                     </tr>
        
                     <tr style="font-size: 30px;">
        
                        <td colspan="3" >{{stats.delta}}</td>
        
                    </tr>
                    </tbody>
                  </table>
        
        
                </div>

    </div>
  </div>


  <div class="tab-2">
    <label for="tab2-2">Race Statistics</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      


        <div style="text-align: center;">
            
                
        
          {% load static %}
            
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"> <img class="Car" src="{% static 'Head2Head/Teams/' %}{{stats.t1}}.png" alt="My image"><br> {{stats.t1}}
                </th>
                <th scope="col"><img style="height: 300px;" src="{% static 'Head2Head/Drivers/vs.png' %}" alt="My image"> </th>
                <th scope="col" ><img class="Car" src="{% static 'Head2Head/Teams/' %}{{stats.t2}}.png" alt="My image"> <br>{{stats.t2}}</th>
              </tr>
            </thead>
              <tbody>
                 
                  <tr style="font-size: 30px;">
                  <td>{{Racestats.d1total}}</td>
                   <td>Total Points</td>
                   <td>{{Racestats.d2total}}</td>
               </tr>
  
               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1avgpts}}</td>
                   <td>Average Points</td>
                   <td>{{Racestats.d2avgpts}}</td>
               </tr>

               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1avgptsnc}}</td>
                   <td>Average Points with NC</td>
                   <td>{{Racestats.d2avgptsnc}}</td>
               </tr>
  
  
               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1wins}}</td>
                   <td>Wins</td>
                   <td>{{Racestats.d2wins}}</td>
               </tr>
  
               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1pod}}</td>
                   <td>Podiums</td>
                   <td>{{Racestats.d2pod}}</td>
               </tr>


               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1best}}</td>
                   <td>Best Finish</td>
                   <td>{{Racestats.d2best}}</td>
               </tr>

               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1avgfin}}</td>
                   <td>Average Finish</td>
                   <td>{{Racestats.d2avgfin}}</td>
               </tr>

               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1dnf}}</td>
                   <td>DNFs</td>
                   <td>{{Racestats.d2dnf}}</td>
               </tr>

               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1avgposgain}}</td>
                   <td>Average Postion Gain</td>
                   <td>{{Racestats.d2avgposgain}}</td>
               </tr>

               <tr style="font-size: 30px;">
                  <td>{{Racestats.d1mostposgain}}</td>
                   <td>Most Postion Gain</td>
                   <td>{{Racestats.d2mostposgain}}</td>
               </tr>
              </tbody>
            </table>
    
            </div>


    </div>
  </div>
</div>
      {% endblock %}